In [50]:
# Import Dependencies
import pandas as pd

In [51]:
# File to Load
school_data_to_load = "C:/Users/dillo/Data Science Bootcamp/git_repos/pandas-challenge/Resources/schools_complete.csv"
student_data_to_load = "C:/Users/dillo/Data Science Bootcamp/git_repos/pandas-challenge/Resources/students_complete.csv"

In [52]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [53]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [54]:
# Calculate the total number of schools
total_schools = school_data_complete.school_name.nunique()
total_schools

15

In [55]:
# Calculate the total number of students
total_students = school_data_complete.student_name.count()
total_students

39170

In [56]:
# Calculate the total budget
budget_df = school_data_complete.drop_duplicates(subset=['school_name'])
total_budget = budget_df.budget.sum()
total_budget

24649428

In [57]:
# Calculate the average math score
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [58]:
# Calculate the average reading score
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [59]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_df = school_data_complete.loc[(school_data_complete["math_score"] >= 70), :]
math_count_df = math_df.student_name.count()
math_70_df = (math_count_df / total_students) * 100
math_70_df

74.9808526933878

In [60]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_df = school_data_complete.loc[(school_data_complete["reading_score"] >= 70), :]
reading_count_df = reading_df.student_name.count()
reading_70_df = (reading_count_df / total_students) * 100
reading_70_df

85.80546336482001

In [61]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_df = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70), :]
overall_count_df = overall_df.student_name.count()
overall_70_df = (overall_count_df / total_students) * 100
overall_70_df

65.17232575950983

In [86]:
# Create a dataframe to hold the above results
district_summary = {'Total Schools': [total_schools], 
                    'Total Students': [total_students],
                    'Total Budget': [total_budget],
                    'Average Math Score': [average_math_score],
                    'Average Reading Score': [average_reading_score],
                    '% Passing Math': [math_70_df],
                    '% Passing Reading': [reading_70_df],
                    '% Overall Passing': [overall_70_df]}
district_summary_df = pd.DataFrame(district_summary)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [88]:
# Give the displayed data cleaner formatting total students
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [90]:
# Give the displayed data cleaner formatting total budget
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

ValueError: Unknown format code 'f' for object of type 'str'

In [91]:
#Cleaned Dataframe
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326