In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# File to Load
school_data_to_load = ('../Resources/schools_complete.csv')
student_data_to_load = ('../Resources/students_complete.csv')

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Calculate the total number of schools
total_schools = school_data_complete.school_name.nunique()
total_schools

15

In [6]:
# Calculate the total number of students
total_students = school_data_complete.student_name.count()
total_students

39170

In [7]:
# Calculate the total budget
budget_df = school_data_complete.drop_duplicates(subset=['school_name'])
total_budget = budget_df.budget.sum()
total_budget

24649428

In [8]:
# Calculate the average math score
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [9]:
# Calculate the average reading score
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_df = school_data_complete.loc[(school_data_complete["math_score"] >= 70), :]
math_count_df = math_df.student_name.count()
math_70_df = (math_count_df / total_students) * 100
math_70_df

74.9808526933878

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_df = school_data_complete.loc[(school_data_complete["reading_score"] >= 70), :]
reading_count_df = reading_df.student_name.count()
reading_70_df = (reading_count_df / total_students) * 100
reading_70_df

85.80546336482001

In [12]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_df = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70), :]
overall_count_df = overall_df.student_name.count()
overall_70_df = (overall_count_df / total_students) * 100
overall_70_df

65.17232575950983

In [13]:
# Create a dataframe to hold the above results
district_summary = {'Total Schools': [total_schools], 
                    'Total Students': [total_students],
                    'Total Budget': [total_budget],
                    'Average Math Score': [average_math_score],
                    'Average Reading Score': [average_reading_score],
                    '% Passing Math': [math_70_df],
                    '% Passing Reading': [reading_70_df],
                    '% Overall Passing': [overall_70_df]}
district_summary_df = pd.DataFrame(district_summary)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [14]:
# Give the displayed data cleaner formatting total students
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [15]:
# Give the displayed data cleaner formatting total budget
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [16]:
#Cleaned Dataframe
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [17]:
school_name_df = school_data_complete.set_index("school_name").groupby(["school_name"])

In [18]:
school_type = school_data.set_index("school_name")["type"]

In [19]:
students_school = school_name_df["Student ID"].count()

In [20]:
school_budget = school_data.set_index("school_name")["budget"]
school_size = school_data.set_index("school_name")["size"]

In [21]:
budget_per_student = school_budget / school_size

In [22]:
math_per_school = school_name_df["math_score"].mean()
read_per_school = school_name_df["reading_score"].mean()

In [23]:
math_passing = school_data_complete[(school_data_complete["math_score"] >= 70)].groupby("school_name")["Student ID"].count()/students_school * 100
read_passing = school_data_complete[(school_data_complete["reading_score"] >= 70)].groupby("school_name")["Student ID"].count()/students_school * 100
overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name")["Student ID"].count()/students_school * 100

In [24]:
school_summary = pd.DataFrame({"School Type": school_type, "Total Students": students_school, "Total School Budget": school_budget, "Per Student Budget": budget_per_student, 
"Average Math Score": math_per_school, "Average Reading Score": read_per_school, "% Passing Math": math_passing, "% Passing Reading": read_passing,
"% Overall Passing": overall_passing})

In [25]:
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:.2f}".format)

In [26]:
school_summary = school_summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [27]:
top_performing = school_summary.sort_values(["% Overall Passing"], ascending=False)
top_performing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [28]:
bottom_performing = school_summary.sort_values(["% Overall Passing"])
bottom_performing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [29]:
math_9 = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
math_10 = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
math_11 = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
math_12 = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

In [30]:
math_scores = pd.DataFrame({"9th": math_9, "10th": math_10, "11th": math_11, "12th": math_12})

In [31]:
math_scores = math_scores[["9th", "10th", "11th", "12th"]]

In [32]:
math_scores

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [33]:
read_9 = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
read_10 = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
read_11 = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
read_12 = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

In [34]:
reading_scores = pd.DataFrame({"9th": read_9, "10th": read_10, "11th": read_11, "12th": read_12})

In [35]:
reading_scores = reading_scores[["9th", "10th", "11th", "12th"]]

In [36]:
reading_scores

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [68]:
bins = [0, 584.99, 629.99, 644.99, 679.99]
labels = ["< $585", "$585-630", "$630-645", "$645-680"]
school_data_complete["spending"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], bins, labels=labels)

In [69]:
spending = school_data_complete.groupby("spending")
student_count = spending["Student ID"].count()

In [70]:
average_math = spending["math_score"].mean()
average_reading = spending["reading_score"].mean()
math_passing = school_data_complete[school_data_complete["math_score"] >= 70].groupby("spending")["Student ID"].count()/student_count * 100
reading_passing = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("spending")["Student ID"].count()/student_count * 100
overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("spending")["Student ID"].count()/student_count * 100

In [71]:
spending_scores = pd.DataFrame({"Average Math Score": average_math, "Average Reading Score": average_reading, "% Passing Math": math_passing,
                               "% Passing Reading": reading_passing, "% Overall Passing": overall_passing})

In [72]:
spending_scores = spending_scores[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
spending_scores.index.name = "Spending Ranges (Per Student)"
spending_scores = spending_scores.reindex(labels)

In [73]:
spending_scores["Average Math Score"] = spending_scores["Average Math Score"].map("{:.2f}".format)
spending_scores["Average Reading Score"] = spending_scores["Average Reading Score"].map("{:.2f}".format)
spending_scores["% Passing Math"] = spending_scores["% Passing Math"].map("{:.2f}".format)
spending_scores["% Passing Reading"] = spending_scores["% Passing Reading"].map("{:.2f}".format)
spending_scores["% Overall Passing"] = spending_scores["% Overall Passing"].map("{:.2f}".format)
spending_scores

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
< $585,83.36,83.96,93.70,96.69,90.64
$585-630,79.98,82.31,79.11,88.51,70.94
$630-645,77.82,81.30,70.62,82.60,58.84
$645-680,77.05,81.01,66.23,81.11,53.53